{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}


<div id="post-container">
    <form action="{% url 'posts' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <textarea placeholder="What's on your mind?" name="description"></textarea>
        <input type="file" name="postpic">
        <button type="submit">Post</button>

    </form>
  </div>


  <!-- Posts -->

{% for p in post %}

<div class="post-container spacing">
    <div class="post-header">
        <img class="user-avatar" src="{{ p.profile_pic.profile_pic.url }}" alt="User Avatar">
        <div class="user-info">
            <a href="/profile/{{p.profile_pic.id}}"><p><span class="author">{{p.name}}</span></p></a>
            <p>&nbsp; - <span class="pub_date">Posted on {{p.published_date}}</span></p>
        </div>
    </div>

    <div class="post-content">
        <p>{{p.description}}</p>
        <img class="postimg" src="{{ p.post_img.url }}" alt="Empty">
    </div>

    <!-- comments -->
    
    <div class="comments">

        <form action="{% url 'like' %}" method="post">
            {% csrf_token %}
            
            <input type="hidden" name="post_id" value="{{p.id}}">
            <button type="submit">
                    <i class="fa-solid fa-thumbs-up"></i>
            </button> 
            <p>&nbsp; {{p.likes.count}} Likes</p>
           
        </form>

        <div class="comment">
            <h4>Comment Section:</h4>
            {% for c in p.post_comment.all %}
            <p><strong>{{c.name}}:</strong> {{c.comment}}</p>
            {% endfor %}
        </div>
        
        
    </div>
    <form action="{% url 'cmts' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{p.id}}">
        <input type="text" maxlength="200" placeholder="Write a comment" name="comment">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endfor %}

{% endblock %}

{% block javascript %}
<script src="{% static 'js/like.js' %}"></script>
{% endblock %}