{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

<section>
    <div class="details">
        <img id="editimage" src="{% static 'img/default.png' %}" alt="">
        <input type="file">
        <h2 id="fullName"> <strong>Full Name:</strong> John Doe</h2>
        <p id="email"> <strong>Email:</strong> john.doe@example.com</p>
        <p id="address"> <strong>Address:</strong> 123 Main St, Cityville, USA</p>
        <p id="bio"> <strong>Bio:<strong> <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></p>
        <p id="gender"> <strong>Gender:</strong> <span> Male </span></p>
        <hr>
        <h3>Edit Your Details Below:</h3>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName" value="John Doe">


            <label for="address">Address:</label>
            <input type="text" id="address" name="address" value="123 Main St, Cityville, USA">

            <label for="bio">Bio:</label>
            <textarea id="bio" name="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>

            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>

            <button type="submit">Update Profile</button>
        </form>
    </div>
</section>

{% endblock %}